
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    
    
    font-family: 'Anton', sans-serif;
    
}


header{
    background-color: #00669F;
    padding: 10px;
    
    
    
}

#caja-madre{
    display:flex;
    background-color: white;
    width: 960px;
    height: 530px;
    flex-direction: row;
    justify-content:space-around;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 50px;
    margin-bottom: 50px;
}
#card{
    
    width: 300px;
    height: 529px;
    position: relative;
    background-color: #F3F3F3;


}

.descripcion{
    font-size: 16px;
    line-height: 18,75px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    padding: 0px 17px 0px 16px;
   
    
    
}

.foto{
    position: absolute;
    top: 128px;
    left: 90px;
    right: 90px;
    bottom: 53px;

}

h2{
    padding-top: 73px;
    text-align: center;
    

}

.ver-mas{
   
    background-color: #00669F;
    color:white;
    font-size: 15px;
    padding:20px 20px 20px 20px ;
    margin: 40px 86.22px 18.48px 85px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    
}

footer{
    background-color: #00669F;
    padding: 10px;
}

@media(max-width:480px){
    #caja-madre{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        margin-left: 0px;
        margin-right: 0px;
        align-items: center;
        
        
    }

    section{
        display: flex;
        width: 100vw;
        
    }
    
        #card{
            margin-bottom: 70px;
        }
        
}
